# Environnement virtuel
venv/
l3env/
env/

# Fichiers Python
__pycache__/
*.py[cod]
*.pyo

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Variables d'environnement
.env

https://github.com/famalia5002/Memoire-gestion-eau-backend/commit/f908363b7f2386f7aa4cc0b9e09b9fd244faf40e